footer {
    margin-top: 20px;
}

.footer {
    width: var(--header-width);
    margin: 0 auto;
}

.footer-manual {
    display: flex;
    margin-top: 20px;
}

.footer-nav {
    margin-right: 120px;
}

.footer-title {
    font-size: 1.4rem;
}

.footer-list > li {
    font-size: 1.2rem;
    margin: 6px 0;
}

.footer-list > li > a {
    color: #333333;
    display: block;
}

.footer-list > li > a.email {
    color: #0d6efd;
}

.email:hover {
    color: #024dbc;
}

.footer-list > li > a:hover {
    color: var(--primary);
}

.pay-line {
    display: flex;
}

.pay-title {
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 12px;
}

.pay-icon {
    display: inline-flex;
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

.pay {
    margin-left: 150px;
}

.footer-end {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 0;
    width: var(--header-width);
}

.end-title {
    font-size: 1.4rem;
    color: #333333;
}

.note-history {
    font-size: 1.2rem;
    width: 500px;
    max-width: 100%;
    margin: 6px 0;
}

.end-address {
    color: #333333;
    font-size: 1.2rem;
}




