/* Header support */
:root {
    --header-padding-left-right:20px;
}

.header-sup {
    background-color: var(--primary);
    height: var(--header-height);
}

.menu {
    width: 1232px;
    max-width: 100%;
    margin: 0 auto;
}

.menu > li {
    display: inline-block;
    line-height: 42px;
}

.menu > li > a {
    font-size: 1.3rem;
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.css-ymxljd + span {
    margin-left: 6px;
}

/* Header action */

.header-box {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.header-action {
    width: var(--header-width);
    height: var(--header-height-action);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--header-padding-left-right);
    max-width: 100%;
}

.logo {
    height: 35px;
    width: auto;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 478px;
    height: 40px;
    border: 1px solid;
    border-color: #eaeaea;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.search input {
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
    padding: 0 50px 0 12px;
    font-size: 1.5rem;
}

.handel-search {
    position: absolute;
    right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 8px;    
    border: none;
    background-color: var(--primary);
    cursor: pointer;
}

.form-action,
.cart,
.notify {
    display: flex;
    align-items: center;
    color: #82869e;
    cursor: pointer;
}

.form-action:hover,
.cart:hover,
.notify:hover {
    color: var(--primary);
}

.icon-user,
.icon-cart {
    display: flex;
    width: 36px;
    height: 36px;
}

.form-act-title,
.cart-title {
    font-size: 1.3rem;
    font-weight: 700;
}

span + .form-act-title,
span + .cart-title {
    margin-left: 6px;
}

/* Cart list */

.cart {
    position: relative;
}

.cart:hover .cart-list {
    display: block;
}

.cart-list {
    display: none;
    position: absolute;
    width: 384px;
    max-width: 384px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    right: 0;
    top: 60px;
    padding: 16px;
    border-radius: 8px;
    z-index: 1;
}

.cart-list::before {
    position: absolute;
    content: "";
    background-color: transparent;
    width: 80%;
    height: 24px;
    top: -20px;
    right: 0;
}

.cart-item {
    height: 140px;
    overflow-y: auto;
    box-shadow: 0 0 3px #ccc;
    border-radius: 4px;
}

.cart-item::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(245, 245, 245);
}

.cart-item::-webkit-scrollbar-thumb {
    background-color: rgb(153, 153, 153);
}

.item-note {
    display: flex;
}

.item-note + .item-note {
    margin-top: 10px;
}

.cart-img {
    width: 78px;
    height: 78px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cart-item-note {
    margin-left: 8px;
}

.name-item {
    font-size: 1.3rem;
    color: #434657;
}

.name-item:hover {
    color: var(--primary);
}

.number {
    font-size: 1.2rem;
    color: #82869e;
}

.price {
    color: #000;
    font-size: 1.4rem;
    font-weight: 700;
}

.view-cart {
    border: none;
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.4rem;
    width: 100%;
    border-radius: 4px;
    padding: 11px 16px;
    cursor: pointer;
    margin-top: 16px;
}

/* Category */

.handel-select {
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: #82869e;
    border:1px solid #e0e0e0;
    padding: 6px 12px;
    cursor: pointer;
}

.handel-select span {
    margin-left: 6px;
}

/* model */

.category {
    position: relative;
}

.category:hover .model-category {
    display: block;
}

.model-category {
    position: absolute;
    display: none;
    background-color: #fff;
    top: 54px;
    left: 0;
    right: 0;
    z-index: 19;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    animation: topEnd ease 0.4s;
}

.model-category::before {
    position: absolute;
    content: "";
    background-color: transparent;
    width: 100%;
    height: 28px;
    top: -24px;
}

.list-category > li > a {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: #333;
    padding: 8px 16px ;
}

.icon-arrow {
    display: flex;
    margin-right: 6px;
}

.list-category > li > a:hover {
    color: var(--primary);
    background-color: rgb(237, 237, 237);
}

@keyframes topEnd {
    from {
        top: 0;
        opacity: 0;
    }  to {
        top: 54px;
        opacity: 1;
    }
}

